/**
 * Created by andrey on 8/13/24.
 */

c-new-work-type .style-of-spinner {
    height: 400px;
    position: relative
}

c-new-skill-requirement {

    height: 400px;
    position: relative
}

c-new-product-required .style-of-spinner {
    height: 400px;
    position: relative
}

c-new-product-item .style-of-spinner {
    height: 400px;
    position: relative
}

